<div class="container black">

  <div class="card-panel blue">
    <h4>Components & Services</h4>
    <div>
      {{selectedWorker.phone}}
    </div>
    <app-worker-card [data]="item" *ngFor="let item of contacts"
                     (clickEvent)="selectedWorker = $event"></app-worker-card>

    <div class="card-panel">
      <img [src]="selectedImg">
    </div>
    <app-product [data]="item" *ngFor="let item of items"></app-product>
    <hr>
    <span *ngFor="let item of images">
      <app-image-frame
        (clickEvent)="selectedImg = $event"
        [data]="item"></app-image-frame>
    </span>

  </div>


  <div class="card-panel" [appSetColor]="bgColor">
    <h4>Directives</h4>

    <input [value]="bgColor"
           (change)="bgColor = $event.target.value"
           type="color">
{{bgColor}}
    <hr>

    <input type="checkbox" id="toggle-access"
           [checked]="access"
           (change)="access = !access">
    <label for="toggle-access" class="white-text">toggle</label>

    <div *ngIf="access" class="card-panel orange"><div class="card-panel blue"><div class="card-panel green"><div class="card-panel yellow"><div class="card-panel red"><div class="card-panel grey">
      you have access</div></div></div></div></div></div>

    <ul class="collection">
      <li
        [ngClass]="{red: o, pink: !o}"
        *ngFor="let item of contacts; let idx = index; let o=odd;" class="collection-item">
        {{idx+1}} {{item.name | uppercase}} , phone: {{item.phone}} - {{o}}
        <button class="btn">show phone</button>
      </li>
    </ul>
  </div>


  <div class="card-panel red">
    <h3>KTH Krynica {{today / 1000 / 60 / 60 / 24 / 365 + 1970}}</h3>
    <h2>{{today | date:"dd/MM/yyyy" | uppercase}}</h2>
  </div>
  <div class="card-panel yellow lighten-1">
    <h4>Piepes & Interpolation</h4>
    {{title | uppercase}}
    {{232323 | currency: "PLN"}}
    <hr>
    zarobiłżem: {{money | sum:20000}}
  </div>
  <div class="card-panel green lighten-1">
    <h4>Krynickie Towarzystwo Hokejowe</h4>
  </div>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Angular 2</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © Costrella
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
