<div class="container black">

  <div class="card-panel" [appSetColor]="bgColor">
    <h4>Directives</h4>

    <input [value]="bgColor"
           (change)="bgColor = $event.target.value"
           type="color">
{{bgColor}}
    <hr>

    <input type="checkbox" id="toggle-access"
           [checked]="access"
           (change)="access = !access">
    <label for="toggle-access" class="white-text">toggle</label>

    <div *ngIf="access" class="card-panel orange"><div class="card-panel blue"><div class="card-panel green"><div class="card-panel yellow"><div class="card-panel red"><div class="card-panel grey">
      you have access</div></div></div></div></div></div>

    <ul class="collection">
      <li
        [ngClass]="{red: o, pink: !o}"
        *ngFor="let item of contacts; let idx = index; let o=odd;" class="collection-item">
        {{idx+1}} {{item.name | uppercase}} , phone: {{item.phone}} - {{o}}
        <button class="btn">show phone</button>
      </li>
    </ul>
  </div>


  <div class="card-panel red">
    <h3>KTH Krynica {{today / 1000 / 60 / 60 / 24 / 365 + 1970}}</h3>
    <h2>{{today | date:"dd/MM/yyyy" | uppercase}}</h2>
  </div>
  <div class="card-panel yellow lighten-1">
    <h4>Piepes & Interpolation</h4>
    {{title | uppercase}}
    {{232323 | currency: "PLN"}}
    <hr>
    zarobiłżem: {{money | sum:20000}}
  </div>
  <div class="card-panel green lighten-1">
    <h4>Krynickie Towarzystwo Hokejowe</h4>
  </div>
</div>
